body {
    margin: 0;
}

/* header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    
    height: 40px;
    background: linear-gradient(35deg, #A67CFF 10%, #7090FF 50% 50%, #A67CFF);
    margin: 0px;
    padding: 20px;
}

@media (max-width: 250px){
    header {
        width: 250px;
    }
}

header a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

header img {
    height: 1.5rem;
}

/* main */

main {
    position: absolute;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    font-family: sans-serif;
}

main > * {
    margin-top: 0;
}

main a {
    color: #7090FF;
}

main h1,h2,h3,h4,h5,h6 {
    font-family: serif;
}
  
/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;

    background: linear-gradient(35deg, #A67CFF 10%, #7090FF 50% 50%, #A67CFF);
    padding: 20px;
    height: 20px;
}

@media (max-width: 250px){
    footer {
        width: 250px;
    }
}

footer > a {
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: white;
    color: #7090FF;
    text-decoration: none;
}

/* colors
    purple: #A67CFF
    blue: #7090FF
    pink: #EF8AFF
    yellow: #FFE396
    lime: #B5FF63
*/