form {
    background-color: var(--tint-two);
    border-color: var(--text);
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

input[type="submit"] {
    background-color: var(--accent-one);
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}