<%- include("header.ejs") %>

<p>Reminder: add picture of me here</p>
<img alt="Melissa smiling" src="" />
<h2>Contact Information</h2>
<ul>
    <li>Email: mscron7@gmail.com</li>
    <li>GitHub: <a href="https://github.com/IgpayAtenlay">github.com/IgpayAtenlay</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/melissa-cron/">linkedin.com/in/melissa-cron/</a></li>
</ul>

<%- include("footer.ejs") %>