        </main>

        <% if (locals.gitLink) { %>
            <footer>
                <p>Github: <a href="https://github.com/IgpayAtenlay/<%= gitLink %>">github.com/IgpayAtenlay/<%= gitLink %></a></p>
            </footer>
        <% } %>

    </body>
</html>