        </main>

        <% if (locals.gitLink) { %>
            <footer>
                <p>Github: <a href="https://<%= gitLink %>"><%= gitLink %></a></p>
            </footer>
        <% } %>

    </body>
</html>