<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="css/general.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <a class="logo" href="/">
                <img src="assets/images/inverseLogo.svg" alt="Quarter note on a computer screen">
                Melissa
            </a>
            <nav class="links">
                <a href="/">Home</a>
                <a href="/aboutMe">About Me</a>
            </nav>
        </header>
        <main>