<%- include("header.ejs") %>

<div style = "display: flex;gap: 10px;flex-wrap: wrap;">
    <a class="card" href='nomaiWriting'>
        <img src="assets/images/nomaiText.png" alt="">
        <h1>Nomai</h1>
        <p>This is a word processor that creates a 2D script called Nomai. It is based on a language from the game Outer Wilds.</p>
    </a>
    
    <a class="card" href='slitherlinkSolver'>
        <img src="assets/images/slitherlink.png" alt="">
        <h1>Slitherlink Solver</h1>
        <p>This project takes a slitherlink puzzle and automatically solves it.</p>
    </a>

    <a class="card" href='website'>
        <img src="assets/images/logo.svg" alt="">
        <h1>Website</h1>
        <p>This is the website you are currently looking at.</p>
    </a>

    <a class="card" href='marylandFlag'>
        <img src="assets/images/marylandFlag.svg" alt="">
        <h1>Maryland Flag</h1>
        <p>This is a Maryland flag I made entirely using html and css. The one on the linked page is, not the one on this card.</p>
    </a>

    <a class="card" href='simon'>
        <img src="assets/images/simon.png" alt="">
        <h1>Simon Game</h1>
        <p>This is a functioning game of simon.</p>
    </a>

    <a class="card" href='diceCalculator'>
        <img src="assets/images/diceCalculator.png" alt="">
        <h1>Dice Calculator</h1>
        <p>Calculate damage for dice based games.</p>
    </a>
</div>

<%- include("footer.ejs") %>