<%- include("header.ejs") %>

<div style = "display: flex;gap: 10px;flex-wrap: wrap;">
    <div class="card" onclick="location.href='nomaiWriting';" style="cursor: pointer;">
        <img src="./assets/images/nomaiText.png" alt="Indecipherable text in the form of intersecting purple swirls">
        <h1>Nomai</h1>
        <p>This is a word processor that creates a 2D script called Nomai. It is based on a language from the game Outer Wilds.</p>
    </div>
    
    <div class="card" onclick="location.href='slitherlinkSolver';" style="cursor: pointer;">
        <img src="assets/images/slitherlink.png" alt="Solved slitherlink puzzle">
        <h1>Slitherlink Solver</h1>
        <p>This project takes a slitherlink puzzle and automatically solves it.</p>
    </div>

    <div class="card" onclick="location.href='website';" style="cursor: pointer;">
        <img src="assets/images/logo.svg" alt="Quarter note on a computer screen">
        <h1>Website</h1>
        <p>This is the website you are currently looking at.</p>
    </div>

    <div class="card" onclick="location.href='marylandFlag';" style="cursor: pointer;">
        <img src="assets/images/marylandFlag.svg" alt="Maryland Flag">
        <h1>Maryland Flag</h1>
        <p>This is a Maryland flag I made entirely using html and css. The one on the linked page is, not the one on this card.</p>
    </div>

    <div class="card" onclick="location.href='simon';" style="cursor: pointer;">
        <img src="assets/images/simon.png" alt="Simon Game">
        <h1>Simon Game</h1>
        <p>This is a functioning game of simon.</p>
    </div>
</div>

<%- include("footer.ejs") %>