<%- include("head.ejs") %>
    <title>Maryland Flag</title>
    <link href="css/marylandFlagOne.css" rel="stylesheet">
    <link href="css/marylandFlagTwo.css" rel="stylesheet">
    <style>
        main > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        main > div > div > * {
            margin-top: 20px
        }

    </style>
<%- include("header.ejs") %>

<h1>Marlyland Flag with CSS</h1>
<div>
    <div>
        <h2>Version One</h2>
        <div class="mf-1-flag" alt="Maryland flag">
            <div class="mf-1-black-and-yellow mf-1-corner mf-1-top mf-1-left">
                <div class="mf-1-stripe mf-1-one"></div>
                <div class="mf-1-stripe mf-1-two"></div>
                <div class="mf-1-stripe mf-1-three"></div>
                <div class="mf-1-stripe mf-1-four"></div>
                <div class="mf-1-stripe mf-1-five"></div>
                <div class="mf-1-stripe mf-1-six"></div>
            </div>
            <div class="mf-1-red-and-white mf-1-corner mf-1-top mf-1-right">
                <div class="mf-1-white mf-1-corner mf-1-top mf-1-left">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-red mf-1-corner mf-1-top mf-1-right">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-red mf-1-corner mf-1-bottom mf-1-left">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-white mf-1-corner mf-1-bottom mf-1-right">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
            </div>
            <div class="mf-1-black-and-yellow mf-1-corner mf-1-bottom mf-1-right">
                <div class="mf-1-stripe mf-1-one"></div>
                <div class="mf-1-stripe mf-1-two"></div>
                <div class="mf-1-stripe mf-1-three"></div>
                <div class="mf-1-stripe mf-1-four"></div>
                <div class="mf-1-stripe mf-1-five"></div>
                <div class="mf-1-stripe mf-1-six"></div>
            </div>
            <div class="mf-1-red-and-white mf-1-corner mf-1-bottom mf-1-left">
                <div class="mf-1-white mf-1-corner mf-1-top mf-1-left">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-red mf-1-corner mf-1-top mf-1-right">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-red mf-1-corner mf-1-bottom mf-1-left">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
                <div class="mf-1-white mf-1-corner mf-1-bottom mf-1-right">
                    <div class="mf-1-vertical mf-1-shaft"></div>
                    <div class="mf-1-horizontal mf-1-shaft"></div>
                    <div class="mf-1-vertical mf-1-edge"></div>
                    <div class="mf-1-horizontal mf-1-edge"></div>
                    <div class="mf-1-vertical mf-1-bud"></div>
                    <div class="mf-1-horizontal mf-1-bud"></div>
                </div>
            </div>
        </div>
        <p>This version uses absolute positioning in order to put everything in place.</p>
    </div>
    <div>
        <h2>Version Two</h2>

        <div class="mf-2-flag" alt="Maryland flag">
            <div class="mf-2-black-and-yellow">
                <div class="mf-2-one"></div>
                <div class="mf-2-two"></div>
                <div class="mf-2-three"></div>
                <div class="mf-2-four"></div>
                <div class="mf-2-five"></div>
                <div class="mf-2-six"></div>
            </div>
            <div class="mf-2-red-and-white">
                <div class="mf-2-white mf-2-top mf-2-left">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-red mf-2-top mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-red mf-2-bottom mf-2-left">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-white mf-2-bottom mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-white mf-2-bottom mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
            </div>
            <div class="mf-2-red-and-white">
                <div class="mf-2-white mf-2-top mf-2-left">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-red mf-2-top mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-red mf-2-bottom mf-2-left">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-white mf-2-bottom mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
                <div class="mf-2-white mf-2-bottom mf-2-right">
                    <div class="mf-2-vertical mf-2-shaft"></div>
                    <div class="mf-2-horizontal mf-2-shaft"></div>
                    <div class="mf-2-vertical mf-2-bud"></div>
                    <div class="mf-2-horizontal mf-2-bud"></div>
                </div>
            </div>
            <div class="mf-2-black-and-yellow">
                <div class="mf-2-one"></div>
                <div class="mf-2-two"></div>
                <div class="mf-2-three"></div>
                <div class="mf-2-four"></div>
                <div class="mf-2-five"></div>
                <div class="mf-2-six"></div>
            </div>
        </div>
        <p>This version uses grid for both of two-by-two shapes. It also uses grid for the yellow and black columns. The smaller shapes inside the red and white corners are achieved by absolute positioning.</p>
    </div>
</div>

<%- include("footer.ejs") %>