<%- include("header.ejs") %>

<link href="css/simon.css" rel="stylesheet">

<h1>Press A Key to Start</h1>
<div class="container">
    <button id="green"></button>
    <button id="yellow"></button>
    <button id="red"></button>
    <button id="blue"></button>
</div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../js/simon.js" charset="utf-8"></script>
</body>
</html>