<%- include("header.ejs", {pageTitle: "Simon", styles: ["simon"]}) %>

<h1>Click any button to start</h1>
<div class="container">
    <button id="green" aria-label="lowest"></button>
    <button id="yellow" aria-label="low"></button>
    <button id="red" aria-label="high"></button>
    <button id="blue" aria-label="highest"></button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="js/simon.js" charset="utf-8"></script>

<%- include("footer.ejs", {gitLink: "website"}) %>