<%- include("head.ejs") %>
    <title>Slitherlink Solver</title>
<%- include("header.ejs") %>

<p>For more information about slitherlink puzzles visit <a href="https://en.wikipedia.org/wiki/Slitherlink">the wiki page</a>.</p>

<%- include("footer.ejs") %>