<%- include("header.ejs", {pageTitle: "Website"}) %>

<h1>Website</h1>
<h2>Accessibility</h2>
    <p>This website is compatable to WCAG guidelines for accessibility. Examples of accessibility in this website:
    <ul>
        <li>Decorative images do not have alt text</li>
        <li>The website is functional when text is zoomed in to 200%</li>
        <li>Regions provide easy navigation using screenreaders</li>
        <li>Link purpose can be determined by link text</li>
    </ul>
    If you would like to know more about WCAG guidelines, see here: <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG guidelines</a>.</p>
<h2>HTML and EJS</h2>
<h2>CSS</h2>
<h2>JavaScript and Node.js</h2>

<%- include("footer.ejs", {gitLink: "website"}) %>